PORT=3000
APP_VERSION=0.1.0-dev
NODE_ENV=development
USER_SERVICE_URL=http://127.0.0.1:3001
RESTAURANT_SERVICE_URL=http://127.0.0.1:3002
ORDER_SERVICE_URL=http://127.0.0.1:3003
REALTIME_SERVICE_URL=http://127.0.0.1:3006
