DATABASE_URL="postgresql://postgres:postgres@localhost:5435/db_restaurants"
PORT=3002
USER_SERVICE_URL="http://127.0.0.1:3001"
REDIS_URL="redis://default:redissenha123@127.0.0.1:6379"
REDIS_PREFIX="ProjetoJeofton:restaurant-service"
